.celula {
  display: flex;
  height: 50px;
  background-color: #dcdcdc;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.info {
  display: flex;
  color: black;
  font-size: 8px;
  margin-left: 10px;
}

.info h1 {
  margin-right: 8px;
}
.btn-area {
  display: flex;
}
.btn-area #delete-btn {
  display: flex;
  background-color: red;
  cursor: pointer;
  border: none;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  color: white;
}
.btn-area #edit-btn {
  display: flex;
  background-color: yellow;
  cursor: pointer;
  border: none;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  color: black;
}
